<section>
  <div
    class="container d-flex justify-content-center align-items-center min-vh-100"
  >
    <div class="row shadow rounded-4 overflow-hidden" style="max-width: 900px">
      <!-- Imagem à esquerda -->
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img
          src="assets/sunmoondancing.png"
          alt="Astronauta sentado na lua fazendo símbolo da paz com os dedos"
          class="img-fluid"
        />
      </div>

      <!-- Formulário à direita -->
      <div class="col-md-6 p-4">
        <h4 class="text-center text-danger fw-medium text-uppercase mb-4">
          Inscrição
        </h4>

        <form id="form">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="nome" class="form-label">
                Nome<span class="text-danger">*</span>
              </label>
              <input
                type="text"
                class="form-control"
                id="nome"
                name="nome"
                [(ngModel)]="nome"
                required
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="email" class="form-label">
                Email<span class="text-danger">*</span>
              </label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                [(ngModel)]="email"
                required
              />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="estado" class="form-label">
                Estado<span class="text-danger">*</span>
              </label>
              <select
                class="form-select"
                id="estado"
                name="estado"
                [(ngModel)]="estado"
                (ngModelChange)="onEstadoChange($event)"
                required
              >
                <option [ngValue]="null" disabled>Selecione um estado</option>
                @for (est of estados; track est) {
                <option [value]="est">{{ est }}</option>
                }
              </select>
            </div>

            <div class="col-md-6 mb-3">
              <label for="cidade" class="form-label">
                Cidade<span class="text-danger">*</span>
              </label>
              <select
                class="form-select"
                id="cidade"
                name="cidade"
                [(ngModel)]="cidade"
                [disabled]="!estado"
                required
              >
                <option [ngValue]="null" disabled>Selecione uma cidade</option>
                @for (cid of cidadesDisponiveis; track cid) {
                <option [value]="cid">{{ cid }}</option>
                }
              </select>
            </div>
          </div>

          <div class="mb-4">
            <label for="instituicao" class="form-label">Instituição</label>
            <input
              type="text"
              class="form-control"
              id="instituicao"
              name="instituicao"
              [(ngModel)]="instituicao"
            />
          </div>

          <div class="d-grid">
            <button
              type="submit"
              class="btn btn-success fw-semibold w-25 mx-auto"
              [disabled]="!nome || !email || !estado || !cidade"
            >
              Continuar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
