<section class="container-fluid">
  <div
    class="d-flex flex-column justify-content-center align-items-center mb-3"
  >
    <h1 class="text-center mt-4" style="color: #154580">Meu mural</h1>
    <button
      type="button"
      class="btn mt-4 mb-3"
      [routerLink]="['/formulario']"
      style="background-color: #154580; color: #f0f0f0"
    >
      Adicionar pensamentos
    </button>
  </div>

  <div
    class="d-flex mx-auto justify-content-center align-items-center flex-wrap gap-4"
    style="max-width: 1024px"
  >
    @for (pensamento of pensamentosPaginados(); track pensamento) {
    <app-cards
      [pensamento]="pensamento.pensamento"
      [autor]="pensamento.autor"
      [modelo]="pensamento.modelo"
      [modo]="'mural'"
      [id]="pensamento.id"
      (excluir)="excluirPensamento($event)"
    ></app-cards>
    }
  </div>

  <div class="d-flex justify-content-between mt-4">
    <button
      class="btn btn-secondary"
      (click)="paginaAnterior()"
      [disabled]="!temPaginaAnterior()"
    >
      Anterior
    </button>

    <button
      class="btn btn-primary"
      (click)="proximaPagina()"
      [disabled]="!temProximaPagina()"
    >
      Próximo
    </button>
  </div>
</section>
