<section class="container-fluid">
  <div
    class="d-flex flex-column justify-content-center align-items-center mb-3"
  >
    <h1 class="text-center mt-4">Meu mural</h1>
    <button type="button" class="btn mt-4 mb-3">Adicionar pensamentos</button>
  </div>
  <div
    class="d-flex mx-auto justify-content-center align-items-center flex-wrap gap-4"
    style="max-width: 1024px"
  >
    <app-cards modo="mural"></app-cards>
    <app-cards modo="mural"></app-cards>
    <app-cards modo="mural"></app-cards>
    <app-cards modo="mural"></app-cards>
    <app-cards modo="mural"></app-cards>
    <app-cards modo="mural"></app-cards>
  </div>
</section>
