<div
  class="card h-100 p-3"
  [ngClass]="[
    modelo,
    sombraClasse,
    modo === 'formulario'
      ? 'shadow-blue-dark'
      : modelo === 'modelo1'
      ? 'shadow-blue-dark'
      : modelo === 'modelo2'
      ? 'shadow-blue-light'
      : modelo === 'modelo3'
      ? 'shadow-green'
      : ''
  ]"
  style="width: 15rem"
>
  <div class="card-body">
    @if (modo === 'formulario') {
    <h5 class="fw-bold mb-2">Prévia</h5>
    <p class="card-text">
      {{ autor || "Digite seu pensamento..." }}
    </p>
    <p class="fw-bold mb-0" style="color: #154580">
      {{ pensamento || "Autor(a)" }}
    </p>
    } @else {
    <img
      class="w-25 mb-3"
      [src]="
        modelo === 'modelo1'
          ? '/assets/apsasdarkblue.png'
          : modelo === 'modelo2'
          ? '/assets/aspas.png'
          : modelo === 'modelo3'
          ? '/assets/aspasgreen.png'
          : ''
      "
      alt="aspas"
    />
    <p class="card-text">{{ autor }}</p>
    <div class="d-flex justify-content-between">
      <p class="text-primary mb-0">{{ pensamento }}</p>
      <div>
        <a href="#" class="card-link"><i class="bi bi-pencil"></i></a>
        <a class="card-link" (click)="showExcludeModal()">
          <i class="bi bi-trash"></i>
        </a>
      </div>
    </div>
    }
  </div>
</div>
