#card-container{
  box-shadow: 5px 5px 5px rgb(8, 225, 249);
}

.shadow-blue-dark {
  box-shadow: 0.4rem 0.4rem .2rem rgba(21, 69, 128, 0.6);
}

.shadow-blue-light {
  box-shadow: 0.4rem .4rem .2rem rgb(84, 238, 244);
}

.shadow-green {
  box-shadow: 0.4rem 0.4rem .2rem rgba(0, 128, 0, 0.5);
}
