<header class="text-white">
  <div
    class="cabecalho d-flex container-fluid justify-content-between align-items-center flex-wrap"
  >
    <div class="descricao d-flex flex-column gap-3 mx-auto">
      <img
        src="/assets/logo-memoteca.png"
        alt="Logo"
        class="logo mb-3 mt-3"
        style="max-width: 200px"
      />
      <p class="lead mb-4 fw-bold text-info">
        Guarde trechos de músicas,<br />
        citações de livros, pensamentos <br />
        e suas melhores ideias.
      </p>
    </div>
    <div class="imagem-computador mt-4 mt-md-0 d-none d-md-block">
      <img
        src="/assets/computador-cabecalho.png"
        alt="Computador"
        class="img-fluid mr-4"
        style="max-width: 300px"
      />
    </div>
  </div>
</header>
